/* Document: base.scss
   ========================================================================== */

.page-wrapper {
  height: 100%;
  width: 100%;
}

.page-header {
  padding: 15px;
  width: 100%;
}

.page-main {
  padding: 15px;
  width: 100%;
}

.page-footer {
  padding: 15px;
  width: 100%;
}
