/* Document: base.scss
   ========================================================================== */

.page-wrapper {
  width: 100%;
  height: 100%;
}

.page-header {
  width: 100%;
  padding: 15px;
}

.page-main {
  width: 100%;
  padding: 15px;
}

.page-footer {
  width: 100%;
  padding: 15px;
}
