/* Document: layout.scss
   ========================================================================== */

%container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.l-container {
  @extend %container;

  &--fluid {
    @extend %container;
  }
}

.l-row {
  float: left;
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
}

@include media-screen($breakpoint-xs-up) {
  .l-container {
    max-width: calc-rem($container-xs, $base-value);
  }
}

@include media-screen($breakpoint-sm-up) {
  .l-container {
    max-width: calc-rem($container-sm, $base-value);
  }
}

@include media-screen($breakpoint-md-up) {
  .l-container {
    max-width: calc-rem($container-md, $base-value);
  }
}

@include media-screen($breakpoint-lg-up) {
  .l-container {
    max-width: calc-rem($container-lg, $base-value);
  }
}
